:root{
    --main-color:lightgrey;
}

.stage{
    width: 100vw;
    height: 90vh;

    overflow: hidden;
    position: relative;

    background: lightgrey;

}

@keyframes moving {
    from{
        transform: translateX(-20vw);
    }
    to{
        transform: translateX(110vw);
    }
    
}

.poke{
    width: 100px;
    height: 100px;

    position: absolute;

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    animation: moving infinite alternate;

}

.poke:nth-child(1){
    background-image: url('./images/poke\ \(1\).png');

    left: 5%;
    bottom: 5%;

    animation-duration: 3s;
}

.poke:nth-child(2){
    background-image: url('./images/poke\ \(2\).png');

    left: 25%;
    bottom: 25%;

    animation-duration: 3s;
}

.poke:nth-child(3){
    background-image: url('./images/poke\ \(3\).png');

    left: 15%;
    bottom: 15%;

    animation-duration: 3s;
}

.poke:nth-child(4){
    background-image: url('./images/poke\ \(4\).png');

    left: 55%;
    bottom: 55%;

    animation-duration: 3s;
}


/*  */
.container{
    position: relative;
}

.btn-container{
    background: var(--main-color);
}

.title{
    background: var(--main-color);
    text-align: center;
}
/* 🍀myButton  */
.myButton {
    /* position: fixed;
      top: 100px;
      left: 100px; */
  
    z-index: 2;
  
    box-shadow: inset 0px 39px 0px -24px #3b5998;
    background-color: #3b5998;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
  
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
  
    display: block;
    margin: auto;
  }
  .myButton:hover {
    /* background-color:  #3b5998; */
    opacity: 0.6;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }